# Where component owners are known, add them here.
/.github @austingod
/CODEOWNERS @austingod @foxdd @Yuanruitao
/docs @austingod @irwinsun
/*.md @austingod @Yuanruitao

/scripts @austingod @foxdd @Yuanruitao
/src/gateway @austingod @foxdd @Yuanruitao
/src/frontend @lockiechen @foxdd @brookylin
/support-files @austingod @foxdd @Yuanruitao 
/src/backend/codecc @austingod @foxdd
/src/backend/codecc_tools @austingod @foxdd
