{{- if .Values.report.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "codecc.names.fullname" . }}-report
  labels: {{- include "codecc.labels.standard" . | nindent 4 }}
    app.kubernetes.io/name: report
    app.kubernetes.io/component: microservice
    {{- if .Values.commonLabels }}
      {{- include "common.tplvalues.render" (dict "value" .Values.commonLabels "context" $) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" (dict "value" .Values.commonAnnotations "context" $) | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector: {{- include "codecc.labels.matchLabels" . | nindent 4 }}
    app.kubernetes.io/name: report
    app.kubernetes.io/component: microservice
{{- end }}
