# 服务配置文件模板
spring:
  application:
    name: codeccjob
    desc: CodeCCJob Service
    packageName: com.tencent.bk.codecc.codeccjob
  data:
    mongodb:
      codeccjob:
        uri: __BK_CODECC_MONGO_CODECCJOB_URL__&maxPoolSize=300
      defect:
        coredb:
          uri: __BK_CODECC_MONGO_DEFECT_CORE_URL__&maxPoolSize=300
        db:
          uri: __BK_CODECC_MONGO_DEFECT_URL__&maxPoolSize=300

server:
  port: __BK_CODECC_CODECCJOB_API_PORT__

devopsGateway:
  idchost: __BK_CODECC_DEVOPS_IDC_HOST__

itsm:
  version: __BK_CODECC_ITSM_VERSION__
  serviceId: __BK_CODECC_ITSM_SERVICE_ID__
  codecc:
    appcode: __BK_CODECC_ITSM_APP_CODE__
    appsecret: __BK_CODECC_ITSM_APP_SECRET__
    username: __BK_CODECC_ITSM_USERNAME__
    accessToken: __BK_CODECC_ITSM_ACCESS_TOKEN__