# 服务配置文件模板
spring:
  application:
    name: codeccjob
    desc: CodeCCJob Service
    packageName: com.tencent.bk.codecc.codeccjob
  data:
    mongodb:
      defect:
        coredb:
          uri: __BK_CODECC_MONGO_DEFECT_CORE_URL__&maxPoolSize=300
        db:
          uri: __BK_CODECC_MONGO_DEFECT_URL__&maxPoolSize=300
  rabbitmq:
    devops:
      username: __BK_CODECC_DEVOPS_RABBITMQ_USERNAME__
      password: __BK_CODECC_DEVOPS_RABBITMQ_PASSWORD__
      virtual-host: __BK_CODECC_DEVOPS_RABBITMQ_VIRTUAL_HOST__
      addresses: __BK_CODECC_DEVOPS_RABBITMQ_ADDRESSES__

server:
  port: __BK_CODECC_CODECCJOB_API_PORT__

devopsGateway:
  idchost: __BK_CODECC_DEVOPS_IDC_HOST__

itsm:
  version: __BK_CODECC_ITSM_VERSION__
  serviceId: __BK_CODECC_ITSM_SERVICE_ID__
  codecc:
    appcode: __BK_CODECC_ITSM_APP_CODE__
    appsecret: __BK_CODECC_ITSM_APP_SECRET__
    username: __BK_CODECC_ITSM_USERNAME__
    accessToken: __BK_CODECC_ITSM_ACCESS_TOKEN__